.linkertext {
    text-align: center;
    font-size: 120%;
    color: blue;
    font-weight: bold;
}

.maintemprow {
    margin-top: 150px;
}

.smalltemprow {
    margin-top: 10px;
}

.temperature{
    margin-left: auto;
    margin-right: auto;
}
.tempbigvalue {
    font-size: 1000%;
    color: honeydew;
}
.tempbigvalue sup {
    font-size: 25%;
    color: #686868;
    vertical-align: super;    
}
.tempsmallvalue {
    font-size: 500%;
    color: honeydew;
}
.tempsmallvalue sup {
    font-size: 40%;
    color: #686868;
    vertical-align: super;    
}
.humidity {
    font-size: 200%;
}
.humidity sup{
    font-size: 50%;
    color: #686868;
}
.smalltemperature{
    font-size: 400%;
    color: honeydew;
}
.smalltemperature p{
    margin-top:1px;
    font-size: 40%;
    color: honeydew;
}
.glyphicon-arrow-up{
    color: red;
}
.glyphicon-arrow-down{
    color: blue;
}
.fahrenheit {
    color: honeydew;
    font-size: 200%;
}
body {
    background: url('http://jeremymorgan.github.io/Raspberry_Pi_Temperature_WEB/assets/img/beach-background.jpg') no-repeat center center fixed;
}
.weatherbackground {
    color: white;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
    background-color: #080808;
    padding: 10px;
}