.temperature{
    font-size: 1250%;
    color: honeydew;
}
.fahrenheit {
    color: #1a242f;
    font-size: 200%;
}
body {
    background: url('/assets/img/beach-background.jpg') no-repeat center center fixed;
}
.weatherbackground {
    color: white;
    margin-top: 100px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
    background-color: #080808;
    padding: 10px;
}