.maintemprow {
    margin-top: 150px;
}


.smalltemprow {
    margin-top: 10px;
}

.temperature{
    font-size: 1250%;
    color: honeydew;
}
.smalltemperature{
    font-size: 400%;
    color: honeydew;

}
.smalltemperature p{
    margin-top:1px;
    font-size: 40%;
    color: honeydew;
}
.glyphicon-arrow-up{
    color: red;
}
.glyphicon-arrow-down{
    color: blue;
}
.fahrenheit {
    color: #1a242f;
    font-size: 200%;
}
body {
    background: url('http://jeremymorgan.github.io/Raspberry_Pi_Temperature_WEB/assets/img/beach-background.jpg') no-repeat center center fixed;
}
.weatherbackground {
    color: white;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
    background-color: #080808;
    padding: 10px;
}