<div class="row clearfix">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-8 column text-center weatherbackground">
        <h1>Current Temperature in my Bedroom</h1>
        <span class="loader" ng-hide="ctrl.loaded"><img src="assets/img/loader.gif" /></span>
        <span class="temperature" ng-show="ctrl.loaded">{{ctrl.CurrentTemp | number:2}}</span>
        <p class="fahrenheit">Fahrenheit</p>
        <p>Last Reading: {{ctrl.CurrentTime | date:'medium'}} </p>
    </div>
    <div class="col-md-2 column">
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-4 column text-center weatherbackground">
    <h2>Average Last Hour:</h2>
        <span class="loader" ng-hide="ctrl.loaded">
            <img src="assets/img/loader.gif" />
        </span>
        <span class="smalltemperature" ng-show="ctrl.loaded">{{ctrl.HourAvg | number:2}}</span>
    </div>
    <div class="col-md-4 column text-center weatherbackground">
        <h2>Average 24 Hours:</h2>
        <span class="loader" ng-hide="ctrl.loaded">
            <img src="assets/img/loader.gif" />
        </span>
        <span class="smalltemperature" ng-show="ctrl.loaded">{{ctrl.DayAvg | number:2}}</span>
    </div>
    </div>
    <div class="col-md-2 column">
    </div>
</div>